/* HEADER FUNCTIONS*/

.c-functions{
	display: inline-block;
	width: 10%;
	text-align: center;
}

.o-functions__contact{
	p{
		font-weight: 600;
		color: $grey-main-color;
	}
}

.o-functions__socialMedia{

}