/* COLORS */

$default-main-color:#40b052;

// blue
$blue-main-color: #29B6F6;
$blue-accent-color: #1565C0;

// green
$green-main-color: #40b052;
$green-accent-color: #00c097;

// black
$black-main-color: #141414;
$black-accent-color: #757575;

// grey
$grey-main-color: #4b4b4b;
$grey-accent-color: #BDBDBD;

// white
$white-main-color: #ffffff;