<nav class="c-navigation">
	<ul class="o-navigation__wrapper">
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">Home</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">About</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">Our Services</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">Technology</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">Partner Center</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">News</a>
		</li>
		<li class="o-navigation__item">
			<a href="" class="o-navigation__link">Contact</a>
		</li>
	</ul>
</nav>
